.DS_Store
.env.*.local
.env.local
.idea
/.idea
*.local
.lock
*.log
*.njsproj
*.ntvs*
*.sln
*.sublime-workspace
*.suo
*.sw?
*.tsbuildinfo
.vscode/*
/.vscode

composer.lock
coverage
/cypress/videos/
/cypress/screenshots/
dist
dist-ssr
Icon
/kirby/log/
/kirby/public/vendor/
/kirby/public/site/cache/*
!/kirby/public/site/cache/index.html
/kirby/public/site/accounts/*
!/kirby/public/site/accounts/index.html
/kirby/public/site/sessions/*
!/kirby/public/site/sessions/index.html
/kirby/public/media/*
!/kirby/public/media/index.html
/kirby/public/site/plugins/ahoi
lerna-debug.log*
logs
node_modules
npm-debug.log*
package-lock.json
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

!.vscode/extensions.json